{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %} 
{% if messages %} {% for m in messages %}

<p {% if m.tages %} class="{{m.tages}}" {% endif %}>{{m}}</p>

{% endfor %} 
{% endif %}

<form
  action=""
  class="container my-5 shadow-lg p-4 rounded-3"
  method="post"
  novalidate
>
  <h3>Register</h3>

  {% csrf_token %} {{form | crispy}}

  <button class="btn btn-primary w-100 my-3" type="submit">Submit</button>
  
  <small> Already hvae an accout <a href="{% url 'login' %}">Login</a></small>
 
</form>

{% endblock %}
